@use "./theme";

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  max-inline-size: 100%;
  height: auto;
  vertical-align: middle;
}
body {
  font-family: theme.$font-family;
  font-size: theme.$fs-16;
  letter-spacing: theme.$letter-spacing-0;
  color: theme.$slate-950;
}
