// Fonts
$font-family: "Red Hat Display", sans-serif;

// REM font-sizes
$fs-16: 1rem;
$fs-18: 1.125rem;
$fs-40: 2.5rem;
$fs-64: 4rem;

// Line-height
$line-height-110: 110%;
$line-height-150: 150%;

// Letter-spacing
$letter-spacing-0: 0;
$letter-spacing-4: 4px;

// Colors
$cyan-300: #8fe3f9;
$cyan-600: #4d96a9;
$purple-300: #d9b8ff;
$purple-600: #855fb1;
$slate-300: #d1d1df;
$slate-600: #87879d;
$slate-950: #28283d;
$white: #fafafa;

// Breakpoints
$md-breakpoint: 768px;
$sm-breakpoint: 375px;
