@use "../base";
@use "../components/buttons";
@use "../layouts";
@use "../utils";

/* Hero section */
.hero {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-x: hidden;
  }
  &__img {
    margin-block-end: 3rem;
    > img {
      max-inline-size: unset;
      inline-size: 105vw;
    }
    &-left,
    &-right {
      display: none;
    }
  }
  &__app {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-inline: 2.1875rem;
    margin-bottom: 2rem;
    &-title {
      font-size: base.$fs-40;
      line-height: base.$line-height-110;
      font-weight: 900;
    }
    &-description {
      color: base.$slate-600;
    }
    &-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;
    }
  }
}
@media (min-width: base.$md-breakpoint) {
  .hero {
    &__img {
      margin-block-end: 4.5rem;
    }
    &__app {
      margin-inline: 7.2406em;
      &-title {
        font-size: base.$fs-48;
      }
      &-button {
        flex-direction: row;
        gap: 17px;
      }
    }
  }
}
@media (min-width: base.$lg-breakpoint) {
  .hero {
    &__container {
      flex-direction: row;
      > * {
        flex-basis: 100%;
      }
    }
    &__img {
      display: none;
      &-left {
        justify-content: left;
        margin-inline-start: -2%;
        margin-block-start: -3.5625rem;
      }
      &-right {
        justify-content: right;
        margin-inline-end: -2.5%;
        margin-block-start: 3.5625rem;
      }
      &-left,
      &-right {
        display: flex;
        flex-basis: 100%;
      }
    }
    &__app {
      &-title {
        font-size: base.$fs-64;
      }
      &-description {
        font-size: base.$fs-18;
      }
    }
  }
}
@media (min-width: base.$xl-breakpoint) {
  .hero {
    &__img {
      &-left {
        margin-inline-start: 0;
      }
      &-right {
        margin-inline-end: 0;
      }
    }
  }
}
/* Introduction section */
.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 4rem;
  margin-block-start: 2rem;
  margin-inline: 2rem;
  &__indicator {
    position: relative;
    margin-block-start: 6rem;
    > div {
      width: 3.5rem;
      height: 3.5rem;
      border: 1px solid base.$slate-300;
      border-radius: 50%;
      > span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 900;
        color: base.$slate-600;
      }
    }
    > div::after {
      position: absolute;
      top: -5rem;
      content: "";
      background-color: base.$slate-300;
      width: 1px;
      height: 5rem;
    }
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
    &-card {
      inline-size: 9.2188rem;
      block-size: 9rem;
      border-radius: 0.625rem;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &-card:nth-child(1) {
      background-image: url("../assets/desktop/image-woman-in-videocall.jpg");
    }
    &-card:nth-child(2) {
      background-image: url("../assets/desktop/image-women-videochatting.jpg");
    }
    &-card:nth-child(3) {
      background-image: url("../assets/desktop/image-men-in-meeting.jpg");
    }
    &-card:nth-child(4) {
      background-image: url("../assets/desktop/image-man-texting.jpg");
    }
  }
  &__text {
    &-subtitle {
      font-size: base.$fs-12;
      font-weight: 900;
      color: base.$cyan-600;
      letter-spacing: base.$letter-spacing-4;
      text-transform: uppercase;
    }
    &-title {
      margin-block: 1rem 2rem;
      font-size: base.$fs-32;
      font-weight: 900;
    }
    &-description {
      line-height: base.$line-height-150;
      color: base.$slate-600;
    }
  }
}
@media (min-width: base.$md-breakpoint) {
  .introduction {
    margin-block-start: 3.5rem;
    &__cards {
      grid-template-columns: repeat(4, auto);
    }
    &__text {
      margin-inline: 5.5rem;
      &-subtitle {
        font-size: base.$fs-14;
      }
      &-title {
        font-size: base.$fs-36;
      }
    }
  }
}
@media (min-width: base.$lg-breakpoint) {
  .introduction {
    margin-inline: 5rem;
    &__cards {
      &-card {
        inline-size: 16rem;
        block-size: 16rem;
        border-radius: 0.5rem;
      }
    }
    &__text {
      margin-inline: 288px;
      &-subtitle {
        font-size: base.$fs-16;
      }
      &-title {
        font-size: base.$fs-40;
      }
      &-description {
        font-size: base.$fs-18;
      }
    }
  }
}
@media (min-width: base.$xl-breakpoint) {
  .introduction {
    &__cards {
      gap: 3rem;
    }
  }
}
/* CTA section */
.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-inline: 2rem;
  color: base.$white;
  margin-block-start: 10.6rem;
  background-repeat: no-repeat;
  background-image: linear-gradient(90deg, rgba(77, 151, 169, 0.9) 0%, rgba(77, 151, 169, 0.9) 100%),
    url("../assets/mobile/image-footer.jpg");
  background-size: cover;
  background-position: center top;
  &__indicator {
    position: relative;
    margin-block-start: -1.75rem;
    margin-block-end: 2.25rem;
    > div {
      width: 3.5rem;
      height: 3.5rem;
      background-color: base.$white;
      border: 1px solid base.$slate-300;
      border-radius: 50%;
      > span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 900;
        color: base.$slate-600;
      }
    }
    > div::after {
      position: absolute;
      top: -5rem;
      content: "";
      background-color: base.$slate-300;
      width: 1px;
      height: 5rem;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-block-end: 6rem;
    &-title {
      font-size: base.$fs-32;
      font-weight: 900;
    }
  }
  &__attribution {
    font-size: base.$fs-12;
    > a {
      color: base.$white;
      text-decoration: underline;
    }
  }
}
@media (min-width: base.$md-breakpoint) {
  .cta {
    padding-inline: 8.25rem;
    &__text {
      &-title {
        font-size: base.$fs-36;
      }
    }
  }
}
@media (min-width: base.$lg-breakpoint) {
  .cta {
    background-image: linear-gradient(90deg, rgba(77, 151, 169, 0.9) 0%, rgba(77, 151, 169, 0.9) 100%),
      url("../assets/desktop/image-footer.jpg");
    background-size: cover;
    margin-block-start: 11.2rem;
    padding-inline: 0;
    &__indicator {
      margin-block-end: 0;
    }
    &__text {
      display: grid;
      grid-template-columns: 2fr 2fr 1fr;
      align-items: flex-start;
      text-align: left;
      gap: 2rem;
      padding-block: 7rem;
      padding-inline: 10rem;
      &-title {
        font-size: base.$fs-40;
        margin-top: -8px;
      }
      &-description {
        font-size: base.$fs-18;
      }
    }
  }
}
