@use "../base";
@use "../components/buttons";
@use "../layouts";
@use "../utils";

/* Hero section */
.hero {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-x: hidden;
  }
  &__img {
    margin-block-end: 3rem;
    > img {
      max-inline-size: unset;
      inline-size: 105vw;
    }
    &-left,
    &-right {
      display: none;
    }
  }
  &__app {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-inline: 2.1875rem;
    margin-bottom: 2rem;
    &-title {
      font-size: base.$fs-40;
      line-height: base.$line-height-110;
      font-weight: 900;
    }
    &-description {
      color: base.$slate-600;
    }
    &-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;
    }
  }
}
@media (min-width: base.$md-breakpoint) {
  .hero {
    &__img {
      margin-block-end: 4.5rem;
    }
    &__app {
      margin-inline: 7.2406em;
      &-title {
        font-size: base.$fs-48;
      }
      &-button {
        flex-direction: row;
        gap: 17px;
      }
    }
  }
}
@media (min-width: base.$lg-breakpoint) {
  .hero {
    &__container {
      flex-direction: row;
      > * {
        flex-basis: 100%;
      }
    }
    &__img {
      display: none;
      &-left {
        justify-content: left;
        margin-inline-start: -2%;
        margin-block-start: -3.5625rem;
      }
      &-right {
        justify-content: right;
        margin-inline-end: -2.5%;
        margin-block-start: 3.5625rem;
      }
      &-left,
      &-right {
        display: flex;
        flex-basis: 100%;
      }
    }
    &__app {
      &-title {
        font-size: base.$fs-64;
      }
      &-description {
        font-size: base.$fs-18;
      }
    }
  }
}
@media (min-width: base.$xl-breakpoint) {
  .hero {
    &__img {
      &-left {
        margin-inline-start: 0;
      }
      &-right {
        margin-inline-end: 0;
      }
    }
  }
}
