@use "../base";

.u-home-header {
  margin-block-start: 3rem;
  margin-inline: 5rem;
}
@media (min-width: base.$md-breakpoint) {
  .u-home-header {
    margin-block-start: 5rem;
    max-inline-size: 90rem;
  }
}
.u-home-main {
  margin-block: 4rem;
}
