*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-inline-size: 100%;
  height: auto;
  vertical-align: middle;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  letter-spacing: 0;
  color: #28283d;
}

.c-button {
  display: inline-block;
  padding: 1.0625em 2.5em 0.9375em;
  background-color: #4d96a9;
  color: #fafafa;
  text-align: center;
  font-size: 1rem;
  font-weight: 900;
  line-height: 150%;
  border-radius: 1.8125rem;
  border: none;
}
.c-button > span {
  color: #8fe3f9;
}
.c-button--purple {
  background-color: #855fb1;
}
.c-button--purple > span {
  color: #d1d1df;
}

.l-main-nav {
  inline-size: 100%;
}
.l-main-nav__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.u-home-header {
  margin-block-start: 3rem;
  margin-inline: 5rem;
}

@media (min-width: 70.625rem) {
  .u-home-header {
    margin-block-start: 5rem;
    max-inline-size: 90rem;
  }
}
@media (min-width: 100rem) {
  .u-home-header {
    max-inline-size: 100%;
  }
}
.u-home-main {
  margin-block: 4rem;
}

@media (min-width: 70.625rem) {
  .u-home-main {
    margin-block: 4rem 4.5rem;
  }
}
/* Hero section */
.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-x: hidden;
}
.hero__img {
  margin-block-end: 3rem;
}
.hero__img > img {
  max-inline-size: unset;
  inline-size: 105vw;
}
.hero__img-left, .hero__img-right {
  display: none;
}
.hero__app {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-inline: 2.1875rem;
  margin-bottom: 2rem;
}
.hero__app-title {
  font-size: 2.5rem;
  line-height: 110%;
  font-weight: 900;
}
.hero__app-description {
  color: #87879d;
}
.hero__app-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

@media (min-width: 41.875rem) {
  .hero__img {
    margin-block-end: 4.5rem;
  }
  .hero__app {
    margin-inline: 7.2406em;
  }
  .hero__app-title {
    font-size: 3rem;
  }
  .hero__app-button {
    flex-direction: row;
    gap: 17px;
  }
}
@media (min-width: 70.625rem) {
  .hero__container {
    flex-direction: row;
  }
  .hero__container > * {
    flex-basis: 100%;
  }
  .hero__img {
    display: none;
  }
  .hero__img-left {
    justify-content: left;
    margin-inline-start: -2%;
    margin-block-start: -3.5625rem;
  }
  .hero__img-right {
    justify-content: right;
    margin-inline-end: -2.5%;
    margin-block-start: 3.5625rem;
  }
  .hero__img-left, .hero__img-right {
    display: flex;
    flex-basis: 100%;
  }
  .hero__app-title {
    font-size: 4rem;
  }
  .hero__app-description {
    font-size: 1.125rem;
  }
}
@media (min-width: 100rem) {
  .hero__img-left {
    margin-inline-start: 0;
  }
  .hero__img-right {
    margin-inline-end: 0;
  }
}
/* Introduction section */
.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 4rem;
  margin-block-start: 2rem;
  margin-inline: 2rem;
}
.introduction__indicator {
  position: relative;
  margin-block-start: 6rem;
}
.introduction__indicator > div {
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid #d1d1df;
  border-radius: 50%;
}
.introduction__indicator > div > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  color: #87879d;
}
.introduction__indicator > div::after {
  position: absolute;
  top: -5rem;
  content: "";
  background-color: #d1d1df;
  width: 1px;
  height: 5rem;
}
.introduction__cards {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
}
.introduction__cards-card {
  inline-size: 9.2188rem;
  block-size: 9rem;
  border-radius: 0.625rem;
  background-repeat: no-repeat;
  background-size: cover;
}
.introduction__cards-card:nth-child(1) {
  background-image: url("../assets/desktop/image-woman-in-videocall.jpg");
}
.introduction__cards-card:nth-child(2) {
  background-image: url("../assets/desktop/image-women-videochatting.jpg");
}
.introduction__cards-card:nth-child(3) {
  background-image: url("../assets/desktop/image-men-in-meeting.jpg");
}
.introduction__cards-card:nth-child(4) {
  background-image: url("../assets/desktop/image-man-texting.jpg");
}
.introduction__text-subtitle {
  font-size: 0.75rem;
  font-weight: 900;
  color: #4d96a9;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}
.introduction__text-title {
  margin-block: 1rem 2rem;
  font-size: 2rem;
  font-weight: 900;
}
.introduction__text-description {
  line-height: 150%;
  color: #87879d;
}

@media (min-width: 41.875rem) {
  .introduction {
    margin-block-start: 3.5rem;
  }
  .introduction__cards {
    grid-template-columns: repeat(4, auto);
  }
  .introduction__text {
    margin-inline: 5.5rem;
  }
  .introduction__text-subtitle {
    font-size: 0.875rem;
  }
  .introduction__text-title {
    font-size: 2.25rem;
  }
}
@media (min-width: 70.625rem) {
  .introduction {
    margin-inline: 5rem;
  }
  .introduction__cards-card {
    inline-size: 16rem;
    block-size: 16rem;
    border-radius: 0.5rem;
  }
  .introduction__text {
    margin-inline: 288px;
  }
  .introduction__text-subtitle {
    font-size: 1rem;
  }
  .introduction__text-title {
    font-size: 2.5rem;
  }
  .introduction__text-description {
    font-size: 1.125rem;
  }
}
@media (min-width: 100rem) {
  .introduction__cards {
    gap: 3rem;
  }
}
/* CTA section */
.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-inline: 2rem;
  color: #fafafa;
  margin-block-start: 10.6rem;
  background-repeat: no-repeat;
  background-image: linear-gradient(90deg, rgba(77, 151, 169, 0.9) 0%, rgba(77, 151, 169, 0.9) 100%), url("../assets/mobile/image-footer.jpg");
  background-size: cover;
  background-position: center top;
}
.cta__indicator {
  position: relative;
  margin-block-start: -1.75rem;
  margin-block-end: 2.25rem;
}
.cta__indicator > div {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #fafafa;
  border: 1px solid #d1d1df;
  border-radius: 50%;
}
.cta__indicator > div > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  color: #87879d;
}
.cta__indicator > div::after {
  position: absolute;
  top: -5rem;
  content: "";
  background-color: #d1d1df;
  width: 1px;
  height: 5rem;
}
.cta__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-block-end: 6rem;
}
.cta__text-title {
  font-size: 2rem;
  font-weight: 900;
}
.cta__attribution {
  font-size: 0.75rem;
}
.cta__attribution > a {
  color: #fafafa;
  text-decoration: underline;
}

/*# sourceMappingURL=home.css.map */
